.banner{
    min-height: 100vh;
    background-image:
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:hover{
    transform: scale(1.05);
    transition: 0,3;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.icon-service{
    width: 90px;
    height: 90px;
    border: solid#fff;
    border-radius: 50%;
    color: #fff;
}

.background-service{
    height: auto;
    background: #000000;
}
